.searchPage__header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	align-items: flex-start;
	padding: 1.875rem;
	border-bottom: 1px solid lightgray;
}

.searchPage__logo {
	object-fit: contain;
	height: 3.125rem;
	margin-right: 3.125rem;
}

.searchPage__headerBody > .search > .search__input {
	margin-top: 0 !important;
	width: unset;
	margin: unset;
	max-width: unset;
}

.searchPage__options {
	display: flex;
	align-items: center;
	color: grey;
}

.searchPage__optionsRight a,
.searchPage__optionsLeft a {
	text-decoration: none;
	color: gray;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
	display: flex;
}

.searchPage__optionsRight {
	margin-left: 5rem;
}

.searchPage__option {
	display: flex;
	align-items: center;
	margin-right: 1.25rem;
}

.searchPage__option a {
	margin-left: 5px;
}

.searchPage__result {
	margin: 2.5rem 0;
}

.searchPage__resultCount {
	color: #70757a;
	font-size: 0.875rem;
}

.searchPage__results {
	max-width: 40.625rem;
	margin-top: 1.25rem;
	margin-left: 15rem;
	margin-bottom: 6.25rem;
}

.searchPage__resultImage {
	object-fit: contain;
	height: 1.875rem;
	width: 1.875rem;
	margin-right: 0.625rem;
}

.searchPage__nullImage {
	display: block;
	margin: auto;
	width: 40%;
}

.searchPage__resultsTitle {
	text-decoration: none;
}

.searchPage__resultsTitle:hover {
	text-decoration: underline;
}

.searchPage__resultsTitle > h2 {
	font-weight: 500;
}

.searchPage__resultSnippet {
	margin-top: 0.625rem;
}

